.header{
    display: flex;
    justify-content: space-evenly;
    margin-left: 5%;
    margin-top: 10%;
    height: 450px;
}
.intro{
    display: flex;
    flex-direction: column;
    max-width: 600px;
}
.foto{
    width: 300px;
    height: 300px;
}
a{
    background-color: black;
    color: white;
    width: 150px;
    height: 20px;
    padding: 10px 30px;
    border-radius: 10px;
    text-decoration: none;
    margin: 50px 30px;
}
@media (max-width:800px){
    .foto{
        max-width: 200px;
        max-height: 200px;
    }

}
@media screen and (max-width:640px){
    .foto{
        display: none;
    }
    .header{
        width: 350px;
        margin: auto;
        padding: 50px;
    }
    
}