.header{
    display: flex;
    justify-content: space-evenly;
    margin: 6% 0 10% 5%;
    height: 450px;
    font-size: large;
}
.intro{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 600px;
    box-sizing: content-box;
}
.foto{
    width: 550px;
    height: 500px;
}
hr{
    width: 100%;
}
.icons-intro{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: xx-large;
}
.icons-intro :nth-child(n){
    border: 1.5px solid black;
    border-radius: 30px;
    padding: 10px;
    margin: 5px;
    box-sizing: content-box;
}
.icons-intro :nth-child(n):hover{
    transition: 0.5s;
    border: 1px solid green;
    color: green;
}
.button{
    background-color: black;
    color: white;
    width: 150px;
    height: 20px;
    padding: 10px 30px 15px;
    border-radius: 10px;
    text-decoration: none;
    margin: 50px 30px;
    box-sizing: content-box;
}
@media (max-width:800px){
    .foto{
        margin-right: 8%;
        max-width: 40%;
        max-height: 350px;
    }

}
@media screen and (max-width:640px){
    .foto{
        display: none;
    }
    .header{
        max-width: 400px;
        margin: auto;
        padding: 50px;
    }
    .button{
        width: 300px;
    }
}
@media (max-width:450px){
    .button{
        width: 300px;
    }
}