.header{
    display: flex;
    justify-content: space-evenly;
    margin: 6% 0 10% 5%;
    height: 450px;
    font-size: large;
}
.intro{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 600px;
}
.foto{
    width: 300px;
    height: 300px;
    margin-right: 8%;
}
hr{
    width: 100%;
}
.icons{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: xx-large;
}
.icons :nth-child(n){
    border: 1.5px solid black;
    border-radius: 30px;
    padding: 10px;
    margin: 5px;
}
.icons :nth-child(n):hover{
    width: 60px;
    border: 2px solid green;
    color: green;
}
.button{
    background-color: black;
    color: white;
    width: 150px;
    height: 20px;
    padding: 10px 30px;
    border-radius: 10px;
    text-decoration: none;
    margin: 50px 30px;
}
@media (max-width:800px){
    .foto{
        margin-top: 8%;
        margin-right: 8%;
        max-width: 50%;
        max-height: 200px;
    }

}
@media screen and (max-width:640px){
    .foto{
        display: none;
    }
    .header{
        max-width: 400px;
        margin: auto;
        padding: 50px;
    }
    .button{
        width: 300px;
    }
}
@media (max-width:450px){
    .button{
        width: 300px;
    }
}