.Nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: x-small;
}
.logo{
    font-weight: bolder;
    margin-left: 40px;
}
.nav-bar{
    display: flex;
}
.nav-bar > a{
    font-size: large;
    margin: 15px;
    margin-right: 50px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    padding-bottom: 10px;
    border: 3px solid transparent;
}
.nav-bar >a:hover{
    border-bottom: 3px solid black;
}
.VscMenu{
    display: none;
}
.VscClose{
    display: none;
}
@media (max-width:640px){
    .nav-bar > a{
        margin:15px;
    }
}
@media (max-width:450px){
    .nav-bar{
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: white;
        width: 650px;
        height: 200px;
    }
    #display{
        display: none;
    }
    .VscMenu{
        display: flex;
        margin: 20px;
        font-size: large;
    }
    .VscClose{
        display: flex;
        margin-left: 25em;
        margin-top: 15px;
        font-size: x-large;
    }
}