.conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 20px 0;
    text-align: center;
    background-image: url(./img/background-wave.jpeg);
    background-repeat: round;
    margin-top: 30px;
}
.title-projeto{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: white;
    width: 200px;
    height: 40px;
}
.project{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    border-radius: 20px;
    align-items: center;
    margin-top: 50px;
    filter: drop-shadow(8px 8px 10px gray);
}
.section{
    display: flex;
    width: 700px;
    height: 500px;
    padding: 50px 0 0 0;
    color: black;
    background-color: white;
    border-radius: 20px;
    border: 1px solid black;
}
h3{
    padding-top: 10px;
}
hr{
    visibility: hidden;
}
.projetos{
    width: 55%;
    height: 80%;
    border-radius: 50%;
    padding: 10px;
}
.arrow{
    box-sizing: content-box;
    font-size: x-large;
    padding: 3px 0 0 8px;
}
@media (max-width:800px){
    .section{
        width: 500px;
        height: 200px;
        margin: 10px;
    }
}
@media (max-width:450px){
    .project{
        flex-direction: column;
        align-items: center;
    }
}