.conteiner{
    width: auto;
    border-radius: 20px;
    margin: 20px;
    padding: 20px 0;
    
}
.project{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.258);
    border-radius: 20px;
}
.section{
    width: auto;
    height: 250px;
    padding: 50px 0 0 80px;
}